.footer {
  background: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer .logo {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
